:root{
--amarillo:#FFD93D;
--verde:#A8E063;
--azul:#6EC1E4;
--rosa:#FF8FAB;
--naranja:#FFA726;

--artes:#FFB703;
--deportes:#2A9D8F;
--oficios:#8E7DBE;
--bienestar:#E76F51;
}

body{
font-family:Arial;
margin:0;
background:#f2f2f2;
}

header{
background:var(--verde);
padding:20px;
}

.vista{display:none;padding:20px;}
.activa{display:block;}

.botones{display:flex;gap:15px;flex-wrap:wrap;}

.btn{
padding:12px 18px;
border:none;
border-radius:10px;
cursor:pointer;
}

.amarillo{background:var(--amarillo);}
.verde{background:var(--verde);}
.azul{background:var(--azul);}

.regresar{background:var(--naranja);}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:15px;
}

.tarjeta{
background:white;
padding:12px;
cursor:pointer;
}

.b-artes{border-left:10px solid var(--artes);}
.b-deportes{border-left:10px solid var(--deportes);}
.b-oficios{border-left:10px solid var(--oficios);}
.b-bienestar{border-left:10px solid var(--bienestar);}

.tarjeta-detalle{
background:white;
padding:20px;
max-width:600px;
}

.foto{
height:140px;
background:#eee;
display:flex;
align-items:center;
justify-content:center;
}
